<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title th:text="${posts.title}"></title>
</head>
<body>
<div class="container">
  <h3 th:text="${posts.title}"></h3>
  <hr>
  <form th:action="@{'/post/reply'}" method="get">
    <input type="hidden" name="post_id" th:value="${posts.id}">
    <button type="submit" class="btn btn-success">Reply</button>
  </form>
  <hr>
  <ul class="list-group" th:each="post : ${posts}">
    <li class="list-group-item" th:text="${post.body}"></li>
  </ul>
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- left side -->
      </div>
      <div class="col-6">
        <ul class="list-group" th:each="reply : ${replies}">
          <li class="list-group-item" th:text="${reply.body}" style="text-align: center;"></li>
        </ul>
      </div>
      <div class="col">
        <!-- right side -->
      </div>
    </div>
  </div>
</div>
</body>
</html>

<!--

  <ul th:each="reply : ${replies}">
    <li th:text="${reply.body}"></li>
  </ul>
-->